{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} DAH Factories {% endblock title %}

{% block content %}

<div class="abc-01 large nav_section">               
    <div class="container">
  	<div class="nav_box">
            <header id="nav">
                <div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'main:home' %}">{% translate 'Home' %}</a><em>|</em></li>

                                <li class='product_vmegamenu '><a href="{% url 'products:products' %}">{% translate 'Products' %}</a><em>|</em>
                                    <ul class="nav_list">
                                        {% for category in navbar_categories %}
                                            <li class="col-sm-6">
                                                <div class="img clearfix">
                                                    <h4><a href="{% url 'products:category' category.slug %}" title="{{ category.category }}">{{ category.category }}</a></h4>
                                                </div>
                                                <div>
                                                    {% for type in category.types.all reversed %}
                                                        <p><a href="{% url 'products:type' category.slug type.slug %}" title="{{ type.product_type }}" class="vgema-title"><i class="fa fa-angle-double-right"></i>{{ type.product_type }}</a></p>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endfor %}                                                                                                                                                                                                                      	
                                    </ul>
                                </li>
                                                                <li><a href="{% url 'projects:projects' %}">{% translate 'Projects' %}</a><em>|</em>
                                                                        <ul class="vmegamenu">
                                                                            {% for project_category in project_categories %}
                                                                                <li><a href="{% url 'projects:category_view' project_category.slug %}">{{ project_category.category_name }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                <li><a href="{% url "news:news" %}">{% translate 'News' %}</a><em>|</em>
                                                                        <ul class="vmegamenu">
                                                                                {% for category in news_categories %}
                                                                                <li><a href="{% url 'news:news_category' category.slug %}">{{ category.category_name }}</a></li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                    </li>
                                                                 
                                                                                                <li><a href="{% url 'dahsolar:dahsolar' %}">DAH Solar</a><em>|</em>
                                                                            <ul class="vmegamenu">
                                                                                            <li><a href="{% url 'dahsolar:overview' %}" title="Overview">Overview</a></li>
                                                                                            <li><a href="{% url 'dahsolar:dah-factories' %}" title="DAH Factories">DAH Factories</a></li>
                                                                                            <li><a href="{% url 'dahsolar:vission-mission' %}" title="Vision &  Mission ">Vision &  Mission </a></li>
                                                                                    </ul>
                                                                    </li>
                                                                <li><a href="{% url 'contact-us:contact-us' %}">Contact Us</a><em>|</em>
                                                                    </li> 
                            </ul>
                        </nav>
                    </div>	
                </div>
            </header>
        </div>
    </div>
</div>

<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="">
            <div class="">
                <div class="mobile-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li><a href="{% url "main:home" %}">Home</a></li>

                            <li><a href="{% url 'products:products' %}">Products</a>
                                <ul class="vmegamenu">
                                    {% for category in navbar_categories %}
                                        <li><a href="{% url 'products:category' category.slug %}" title="{{ category.category }}">{{ category.category }}</a>
                                            <ul class="vmegamenu">
                                                {% for type in category.types.all reversed %}
                                                    <li><a href="{% url 'products:type' category.slug type.slug %}" title="{{ type.product_type }}">{{ type.product_type }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}        
                                </ul>
                            </li>
                                                        <li><a href="{% url 'projects:projects' %}">Projects</a>
                                                                <ul class="vmegamenu">
                                                                    {% for project_category in project_categories %}
                                                                    <li><a href="{% url 'projects:category_view' project_category.slug %}">{{ project_category.category_name }}</a></li>
                                                                    {% endfor %}    
                                                                    </ul>
                                                            </li>
                                                        <li><a href="{% url "news:news" %}">News</a>
                                                                <ul class="vmegamenu">
                                                                        {% for category in news_categories %}
                                                                        <li><a href="{% url 'news:news_category' category.slug %}">{{ category.category_name }}</a></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                            </li>
                                                                                    <li><a href="{% url 'dahsolar:dahsolar' %}">DAH Solar</a>
                                                                    <ul class="vmegamenu">
                                                                                    <li><a href="{% url 'dahsolar:overview' %}" title="Overview">Overview</a></li>
                                                                                    <li><a href="{% url 'dahsolar:dah-factories' %}" title="DAH Factories">DAH Factories</a></li>
                                                                                    <li><a href="{% url 'dahsolar:vission-mission' %}" title="Vision &  Mission ">Vision &  Mission </a></li>
                                                                            </ul>
                                                            </li>
                                                        <li><a href="{% url 'contact-us:contact-us' %}">Contact Us</a>
                                                            </li>
                            <!--                            <li><a href="--><!--">--><!--</a>-->
<!--                                --><!--                                <ul class="vmegamenu">-->
<!--                                    --><!--                                    <li><a href="--><!--" title="--><!--">--><!--</a></li>-->
<!--                                    --><!--                                </ul>-->
<!--                                --><!--                            </li>-->
                                                                                                                                        </ul>	
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page_banner">
            <img src="{% static 'images/16630347319324219727.jpg' %}" alt="">
        </div>
<div class="breadcrumbW clearfix">
    <div class="container">
        <div class="breadcrumb clearfix">
            <div class="bread-right">
                <a class="home" href="{% url 'main:home' %}" title="Return to Home">Home</a>
                                                <i></i>
                <a href="{% url 'dahsolar:dahsolar' %}">DAH Solar</a>
                                                <i></i>
                <a href="{% url 'dahsolar:dah-factories' %}">DAH Factories</a>
                                            </div>
        </div>
    </div>
</div>

<div class="page-box">
    <div class="container">
    	<div class="news_web clearfix row">
            <div class="page_left col-sm-2 col-xs-12 clearfix">
        <div id="right_column" class="left-nav column">
        <section class="block blockcms column_box">
            <span><em>DAH Solar</em><i class="column_icon_toggle icon-plus-sign"></i></span>
                        <div class="htmleaf-content toggle_content">
                <ul class="mtree">
                                        <li><a href="{% url 'dahsolar:overview' %}" title="Overview">Overview</a></li>
                                        <li><a href="{% url 'dahsolar:dah-factories' %}" title="DAH Factories">DAH Factories</a></li>
                                        <li><a href="{% url 'dahsolar:vission-mission' %}" title="Vision &  Mission ">Vision &  Mission </a></li>
                                    </ul>
            </div>
                    </section>
        <script type="text/javascript" src="{% static 'js/mtree.js' %}"></script>
    </div>
        <div id="right_column" class="left-pro column">
        <section class="block blockcms column_box">
            <span><em>New Products</em><i class="column_icon_toggle icon-plus-sign"></i></span>
            <div class="htmleaf-content toggle_content">
                <ul>
                    {% for new_product in new_products %}
                                        <li class="clearfix">
                        <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}"><img id="{{ new_product.category }}" alt="{{ new_product.category }}" src="{{ new_product.products_images.first.image.url }}"></a>
                        <div class="lnews-right">
                            <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}" class="left-pro-t">{{ new_product.prod_model }}</a>
                            <p>Full-Screen |&nbsp;{{ new_product.prod_type }} |&nbsp; {{ new_product.max_power }}</p>
                            <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}" class="tab-pro-more">Read More<i class="fa fa-caret-right"></i></a>
                        </div>
                    </li>
                    {% endfor %}
                                    </ul>
            </div>
        </section>
    </div>  

     <div id="right_column" class="left-news column">
        <section class="block blockcms column_box">
            <span><em>Latest News</em><i class="column_icon_toggle icon-plus-sign"></i></span>
            <div class="htmleaf-content toggle_content">
                                <div class="news_left_1">
                    {% for first_new in first_news %}
                    <a href="{% url 'news:news_detail' first_new.slug %}" title="{{ first_new.news_title }}" class="img"><img src="{{ first_new.images.first.image.url }}" alt="{{ first_new.news_title }}"></a>
                    <h4><a href="{% url 'news:news_detail' first_new.slug %}" title="DAH Solar makes its debut in the US. RE+2024 ended perfectly!">{{ first_new.news_title }}</a></h4>
                    <p>{{ first_new.images.first.body_text }}</p>
                    {% endfor %}
                </div>
                                <ul>
                                    {% for new in news %}
                                        <li><span>{{ new.created_at }}</span><a href="{% url 'news:news_detail' new.slug %}" title="{{ new.news_title|truncatechars:60 }}">{{ new.news_title|truncatechars:60 }}</a></li>
                                        {% endfor %}
                                </ul>
            </div>
        </section>
    </div>    
</div>  <div class="page_right col-sm-9 col-xs-12 clearfix">
            	<div class="news-detail clearfix">
                    <div class="title">
                    	<em>DAH Factories</em>
                    </div>
                    <div class="text newm"><p>
	<span style="font-size:16px;"><strong> </strong></span> 
</p>
<p style="text-indent:0px;">
	<span style="font-family:&quot;Times New Roman&quot;;font-size:18px;">DAH Solar has 4 high-end technology factories with fully automatic workshops and equipment. Annually DAH Solar’s intelligent factories could produce<span style="font-family:&quot;Times New Roman&quot;;font-size:18px;background-color:#FFFFFF;">&nbsp;5.5 GW capacity for TOPCon solar cells, 10 GW TOPCon PV modules(over all is 2024 simiyearly production goal).</span>&nbsp;</span><span style="font-family:&quot;Times New Roman&quot;;font-size:18px;">&nbsp;DAH Solar is conjecting the cultivation of the mass production of N-type PV modules, Integrative microinverters, and solar storage in the next few years. DAH Solar aims to provide a low-carbon lifestyle, so we maintain our intelligent factories environment friendly, low-carbon, and green.&nbsp;</span> 
</p>
<p style="text-indent:0px;">
	<span style="font-family:&quot;Times New Roman&quot;;font-size:18px;"><img src="{% static 'images/20220913121230_37483.jpg' %}" alt=""><br>
</span> 
</p>
<p class="MsoNormal">
	<span style="font-family:&quot;Times New Roman&quot;;font-size:18px;"> <br>
<span style="font-family:&quot;Times New Roman&quot;;font-size:18px;">DAH factories maintain high productivity by equipping factories with advanced automatic equipment. We grasp the leading manufacturing technique. DAH Solar committees provide high-quality PV products, so we have strict inspections and quality control protocols. Our highly efficient logistics guarantee the fastest delivery to customers all over the world.</span><br>
</span> 
</p>
<p>
	<br>
</p>
<p>
	<br>
</p>
<p>
	<span style="font-family:Arial;font-size:14px;"></span> 
</p>
<div class="video-wrapper">
    <iframe width="750" height="450" src="https://www.youtube.com/embed/P1kYF_qnpRM" allowfullscreen></iframe>
</div>
</div>
                                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}