a.meanmenu-reveal{display:none}
.mean-container .mean-bar{background:transparent none repeat scroll 0 0;float:left;min-height:35px;position:relative;width:100%;z-index:9999;text-align:right;overflow:hidden;}
.mean-container a.meanmenu-reveal{height:18px;padding:10px 10px 11px;top:0;right:0;cursor:pointer;color:#3b40ca;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:18px;font-size:1px;display:block;position:relative;text-align:right !important;padding-right:30px;}
.mean-container a.meanmenu-reveal span{width:18px;background:#3b40ca;height:2px;margin-top:3px;display:block;}
.mean-container a.meanmenu-reveal span:nth-child(1){position:absolute;right:20px;top:10px;}
.mean-container a.meanmenu-reveal span:nth-child(2){position:absolute;right:20px;top:15px;}
.mean-container a.meanmenu-reveal span:nth-child(3){position:absolute;right:20px;top:20px;}
.mean-container .mean-nav{float:left;width:100%;background:#0c1923;}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none;background:#1b63c7;border-bottom:3px solid #244b90;}
.mean-container ul li{list-style:none;}
.mean-container .mean-nav ul li{background:#f8f8f8 none repeat scroll 0 0;float:left;position:relative;width:100%;border-top:1px solid#ddd;}
.mean-container .mean-nav ul li a{background:#f8f8f8 none repeat scroll 0 0;color:#555;display:block;float:left;font-size:14px;margin:0;padding:11px 10px;text-align:left;text-decoration:none;text-transform:capitalize;width:90%;}
.mobile-menu-area .container{padding:0;padding-bottom:0px;}
.mean-container .mean-nav ul li li a{padding:11px 20px;text-shadow:none !important;visibility:visible;width:90%;font-weight:normal;text-transform:capitalize;color:#666;font-size:12px;background:#fafafa;padding-left:20px !important;}
.mean-container .mean-nav ul li.mean-last a{border-bottom:0;margin-bottom:0}
.mean-container .mean-nav ul li li a.mean-expand{height:23px;}
.mean-container .mean-nav ul li li li a{padding:1em 5%;}
.mean-container .mean-nav ul li li li a:before{content:"\f0da";font-family:FontAwesome;padding-right:5px;}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%}
.mean-container .mean-nav ul li a:hover{background:#f8f8f8 none repeat scroll 0 0;color:#7ec93b;}
.mean-container .mean-nav ul li a.mean-expand{width:26px;height:26px;padding:9px !important;text-align:center;position:absolute;right:0;top:0;z-index:2;border:0!important;background:#244b90;color:#fff;font-size:20px !important;line-height:28px;}
.mean-container .mean-nav ul li a.mean-expand:before{display:none;}
.mean-container .mean-nav ul li a.mean-expand:hover{background:#244b90;color:#fff;}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
.mean-container .mean-bar,.mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}
.mean-container .mean-bar::after{color:#ffffff;content:"";font-size:18px;left:2%;position:absolute;top:14px;}
/*mainmenu*/
.mainmenu-area{display:block;}
.mainmenu_box{float:right;width:36%;padding-right:0;}
.mainmenu-left{/*position:relative;*/
}
.product-menu-title{background:#444444 none repeat scroll 0 0;cursor:pointer;padding:3px 16px;}
.product-menu-title h2{color:#fff;font-size:16px;font-weight:700;line-height:48px;margin:0;text-transform:uppercase;}
.product-menu-title h2 i{float:right;margin-top:17px;}
.find .product_vmegamenu>ul li a{padding:12px 10px;}
.product_vmegamenu ul li a.hover-icon::after{content:"\f107";font-family:FontAwesome;font-size:18px;position:absolute;right:0;color:#808080;top:14px;}
.product_vmegamenu>ul>li a img{margin-right:10px;}
.product_vmegamenu>ul>li .vmegamenu{background:#fff none repeat scroll 0 0;border:1px solid #eaeaea;box-shadow:0 0 5px -1px #666666;left:0;position:absolute;top:82px;width:100%;opacity:0;z-index:999999;-webkit-transition:all .5s ease 0s;transition:all .5s ease 0s;visibility:hidden;padding:10px;}
.product_vmegamenu ul li:hover .vmegamenu{opacity:1;top:52px;visibility:visible;}
.product_vmegamenu ul li .vmegamenu span{float:left;padding:15px;width:20%;}
.product_vmegamenu ul li .vmegamenu span s{display:block;}
.product_vmegamenu ul li .vmegamenu span img{max-width:100%;}
.product_vmegamenu ul li .vmegamenu span a.vgema-title{border-bottom:1px solid #eaeaea;font-size:14px;background:#ededed;padding:10px;text-transform:capitalize;text-align:center;letter-spacing:normal;}
.product_vmegamenu ul li .vmegamenu span:hover a.vgema-title{background:#226cc5;color:#fff;}
.product_vmegamenu ul li .vmegamenu2{width:400px;}
.product_vmegamenu ul li .vmegamenu2 span{padding:15px;width:50%;}
/* mainmenu */
.mainmenu>nav>ul>li{display:inline-block;}
.mainmenu ul li:last-child{background:none;}
.mainmenu>nav>ul>li>a{color:#333333;display:inline-block;font-size:16px;padding:0px 15px;transition:all .3s;font-weight:bold;text-transform:capitalize;border-radius:0px;position:relative;line-height:48px;transition:0.5s all;-webkit-transition:0.5s all;-o-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;}
.mainmenu>nav>ul>li> em{display:inline-block;color:#d9d9d9;margin:0 5px;font-size:16px;vertical-align:middle;font-family:'poppins-semibold';}
.mainmenu ul li .icon:after{font-family:FontAwesome;padding-left:5px;color:#ececec;font-size:12px;vertical-align:middle;content:"\f107";}
.mainmenu >nav>ul>li.active> a,.mainmenu >nav>ul>li:hover> a{background:#3b40ca;color:#fff;}
.mainmenu>nav>ul>li>ul{box-shadow:0 3px 5px rgba(0,0,0,0.3);left:auto;opacity:0;position:absolute;top:100%;transform:scaleY(0);transform-origin:0 0 0;transition:all 0.4s ease 0s;z-index:99999999;padding:10px 10px;visibility:hidden;text-align:left;width:200px;background:#fff;border-top:1px solid #f9f9f9;border-bottom:2px solid #3b40ca;}
.mainmenu ul li:hover > ul{opacity:1;visibility:visible;transform:scaleY(1);}
.mainmenu ul li > ul li{display:block;}
.mainmenu ul li > ul li > a{color:#666666;padding:6px 0;text-transform:capitalize;font-size:14px;display:inline-block;}
.mainmenu ul li > ul li > a:hover{color:#3b40ca;padding-left:3px;}
.mainmenu ul li > ul li > a:hover i{color:#3b40ca;}
.mainmenu ul li.product_vmegamenu ul{width:100%;left:0;border-bottom:2px solid #244b90;}
.mainmenu ul li.product_vmegamenu ul li>a{font-size:16px;color:#333;display:block;margin-bottom:10px;}
.mainmenu ul li.product_vmegamenu ul li>a:hover{padding-left:0;}
.mainmenu ul li.product_vmegamenu ul li>a span{width:36px;height:40px;display:inline-block;background-size:100%;padding:8px;margin-right:5px;}
.mainmenu ul li.product_vmegamenu ul li>a span img{max-width:100%;}
.mainmenu ul li.product_vmegamenu ul li>a p{display:inline-block;vertical-align:middle;}
.mainmenu ul li.product_vmegamenu ul li div span{display:block;margin-bottom:10px;}
.mainmenu ul li.product_vmegamenu ul li div span a{display:inline-block;font-size:15px;padding:0;color:#555;}
.mainmenu ul li.product_vmegamenu ul li div span a:hover{color:#4ac0fb;}
@media only screen and (max-width:768px){.mobile-menu-area .row,.mobile-menu-area .container{width:100%;margin:0;}
}
.vmegamenu{padding:0px 10px !important;}
.vmegamenu li a{padding:8px 0 !important;width:100%;font-size:13px !important;}
.vmegamenu li a i{margin-right:10px;color:#244b90;font-size:12px;opacity:0.6;margin-left:10px;transition:0.5s all;-webkit-transition:0.5s all;-o-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;}
.vmegamenu li a:hover i{margin-left:15px;}
.vmegamenu li:last-child a{border-bottom:none;}
.nav_list li:nth-child(3n+1){clear:both;}
.nav_list li{margin-top:10px;}
.nav_list li .img{background:#f9f9f9;padding:0px 8px;margin-bottom:10px;}
.nav_list li .img img{float:left;width:26%;}
.nav_list li h4{margin:0}
.nav_list li h4 a{font-size:14px;color:#3b40ca;line-height:24px;margin:4px 0 6px;display:block;padding:5px 0;text-transform:capitalize;padding-left:10px;margin-top:10px;}
.nav_list li h4 a:hover{color:#ec6c0e;}
.nav_list li p a{font-size:13px;color:#555;line-height:22px;padding:5px 0;display:inline-block;transition:0.5s all;-webkit-transition:0.5s all;-o-transition:0.5s all;-moz-transition:0.5s all;-ms-transition:0.5s all;}
.nav_list li p a i{margin-right:10px;color:#ccc;font-size:12px;}
.nav_list li p a:hover{color:#3b40ca;margin-left:6px;}
.nav_list li p a:hover i{color:#3b40ca;}
@media only screen and (max-width:1199px){.mainmenu>nav>ul>li>a{padding:0px 10px;} .mainmenu>nav>ul>li>a{ font-size:14px}
}
@media only screen and (max-width:992px){.vmegamenu{padding:0px 0px !important;}
}
#mobile-menu ul li{list-style:none !important;}
