{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block title %} News | DAH Solar Full-Screen PV Module {% endblock title %}

{% block content %}

<div class="abc-01 large nav_section">               
    <div class="container">
  	<div class="nav_box">
            <header id="nav">
                <div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
                    <div class="mainmenu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'main:home' %}">{% translate 'Home' %}</a><em>|</em></li>

                                <li class='product_vmegamenu '><a href="{% url 'products:products' %}">{% translate 'Products' %}</a><em>|</em>
                                    <ul class="nav_list">
                                        {% for category in navbar_categories %}
                                            <li class="col-sm-6">
                                                <div class="img clearfix">
                                                    <h4><a href="{% url 'products:category' category.slug %}" title="{{ category.category }}">{{ category.category }}</a></h4>
                                                </div>
                                                <div>
                                                    {% for type in category.types.all reversed %}
                                                        <p><a href="{% url 'products:type' category.slug type.slug %}" title="{{ type.product_type }}" class="vgema-title"><i class="fa fa-angle-double-right"></i>{{ type.product_type }}</a></p>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endfor %}                                                                                                                                                                                                                      	
                                    </ul>
                                </li>
                                                                <li><a href="{% url 'projects:projects' %}">{% translate 'Projects' %}</a><em>|</em>
                                                                        <ul class="vmegamenu">
                                                                            {% for project_category in project_categories %}
                                                                                <li><a href="{% url 'projects:category_view' project_category.slug %}">{{ project_category.category_name }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                <li class="active"><a href="{% url 'news:news' %}">{% translate 'News' %}</a><em>|</em>
                                                                        <ul class="vmegamenu">
                                                                            {% for category in news_categories %}
                                                                            <li><a href="{% url 'news:news_category' category.slug %}">{{ category.category_name }}</a></li>
                                                                            {% endfor %}
                                                                            </ul>
                                                                    </li>
                                                                 
                                                                                                <li><a href="{% url 'dahsolar:dahsolar' %}">DAH Solar</a><em>|</em>
                                                                            <ul class="vmegamenu">
                                                                                            <li><a href="{% url 'dahsolar:overview' %}" title="Overview">Overview</a></li>
                                                                                            <li><a href="{% url 'dahsolar:dah-factories' %}" title="DAH Factories">DAH Factories</a></li>
                                                                                            <li><a href="{% url 'dahsolar:vission-mission' %}" title="Vision &  Mission ">Vision &  Mission </a></li>
                                                                                    </ul>
                                                                    </li>
                                                                <li><a href="{% url 'contact-us:contact-us' %}">Contact Us</a><em>|</em>
                                                                    </li> 
                            </ul>
                        </nav>
                    </div>	
                </div>
            </header>
        </div>
    </div>
</div>

<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="">
            <div class="">
                <div class="mobile-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li><a href="{% url "main:home" %}">Home</a></li>

                            <li><a href="{% url 'products:products' %}">Products</a>
                                <ul class="vmegamenu">
                                    {% for category in navbar_categories %}
                                        <li><a href="{% url 'products:category' category.slug %}" title="{{ category.category }}">{{ category.category }}</a>
                                            <ul class="vmegamenu">
                                                {% for type in category.types.all reversed %}
                                                    <li><a href="{% url 'products:type' category.slug type.slug %}" title="{{ type.product_type }}">{{ type.product_type }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}        
                                </ul>
                            </li>
                                                        <li><a href="{% url 'projects:projects' %}">Projects</a>
                                                                <ul class="vmegamenu">
                                                                    {% for project_category in project_categories %}
                                                                    <li><a href="{% url 'projects:category_view' project_category.slug %}">{{ project_category.category_name }}</a></li>
                                                                    {% endfor %}    
                                                                    </ul>
                                                            </li>
                                                        <li><a href="{% url 'news:news' %}">News</a>
                                                                <ul class="vmegamenu">
                                                                    {% for category in news_categories %}
                                                                    <li><a href="{% url 'news:news_category' category.slug %}">{{ category.category_name }}</a></li>
                                                                    {% endfor %}
                                                                    </ul>
                                                            </li>
                                                                                    <li><a href="{% url 'dahsolar:dahsolar' %}">DAH Solar</a>
                                                                    <ul class="vmegamenu">
                                                                                    <li><a href="{% url 'dahsolar:overview' %}" title="Overview">Overview</a></li>
                                                                                    <li><a href="{% url 'dahsolar:dah-factories' %}" title="DAH Factories">DAH Factories</a></li>
                                                                                    <li><a href="{% url 'dahsolar:vission-mission' %}" title="Vision &  Mission ">Vision &  Mission </a></li>
                                                                            </ul>
                                                            </li>
                                                        <li><a href="{% url 'contact-us:contact-us' %}">Contact Us</a>
                                                            </li>
                            <!--                            <li><a href="--><!--">--><!--</a>-->
<!--                                --><!--                                <ul class="vmegamenu">-->
<!--                                    --><!--                                    <li><a href="--><!--" title="--><!--">--><!--</a></li>-->
<!--                                    --><!--                                </ul>-->
<!--                                --><!--                            </li>-->
                                                                                                                                        </ul>	
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page_banner">
    <img src="{% static 'images/16630346239238219727.jpg'%}" alt="">
</div>
<div class="breadcrumbW clearfix">
<div class="container">
<div class="breadcrumb clearfix">
    <div class="bread-right">
        <a class="home" href="{% url 'main:home' %}" title="Return to Home">Home</a>
                                        <i></i>
        <a href="{% url 'news:news' %}">News</a>
                                    </div>
</div>
</div>
</div>

<div class="page-box">
<div class="container">
<div class="news_web clearfix row">
    <div class="page_left col-sm-2 col-xs-12 clearfix">
<div id="right_column" class="left-nav column">
<section class="block blockcms column_box">
    <span><em>News</em><i class="column_icon_toggle icon-plus-sign"></i></span>
                <div class="htmleaf-content toggle_content">
        <ul class="mtree">
            {% for category in news_categories %}
                                <li><a href="{% url 'news:news_category' category.slug %}">{{ category.category_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
            </section>

</div>
<div id="right_column" class="left-pro column">
    <section class="block blockcms column_box">
        <span><em>New Products</em><i class="column_icon_toggle icon-plus-sign"></i></span>
        <div class="htmleaf-content toggle_content">
            <ul>
                {% for new_product in new_products %}
                                    <li class="clearfix">
                    <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}"><img id="{{ new_product.category }}" alt="{{ new_product.category }}" src="{{ new_product.products_images.first.image.url }}"></a>
                    <div class="lnews-right">
                        <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}" class="left-pro-t">{{ new_product.prod_model }}</a>
                        <p>Full-Screen |&nbsp;{{ new_product.prod_type }} |&nbsp; {{ new_product.max_power }}</p>
                        <a href="{% url 'products:product_detail' new_product.slug %}" title="{{ new_product.prod_model }}" class="tab-pro-more">Read More<i class="fa fa-caret-right"></i></a>
                    </div>
                </li>
                {% endfor %}
                                </ul>
        </div>
    </section>
</div>  

 <div id="right_column" class="left-news column">
    <section class="block blockcms column_box">
        <span><em>Latest News</em><i class="column_icon_toggle icon-plus-sign"></i></span>
        <div class="htmleaf-content toggle_content">
                            <div class="news_left_1">
                {% for first_new in first_news %}
                <a href="{% url 'news:news_detail' first_new.slug %}" title="{{ first_new.news_title }}" class="img"><img src="{{ first_new.preview.url }}" alt="{{ first_new.news_title }}"></a>
                <h4><a href="{% url 'news:news_detail' first_new.slug %}" title="DAH Solar makes its debut in the US. RE+2024 ended perfectly!">{{ first_new.news_title }}</a></h4>
                <p>{{ first_new.images.first.body_text }}</p>
                {% endfor %}
            </div>
                            <ul>
                                {% for new in news %}
                                    <li><span>{{ new.created_at }}</span><a href="{% url 'news:news_detail' new.slug %}" title="{{ new.news_title|truncatechars:60 }}">{{ new.news_title|truncatechars:60 }}</a></li>
                                    {% endfor %}
                            </ul>
        </div>
    </section>
</div>    
</div>                      <div class="page_right col-sm-9 col-xs-12 clearfix">
        <ul class="news_list">
            {% for news in news_list %}
                                                    <li class="clearfix">
                <div class="news_list_img"><a href="{% url 'news:news_detail' news.slug %}" title="{{ news.news_title }}"><img src="{{ news.preview.url }}" alt="{{ news.news_title }}"></a></div>
                <div class="text">
                    <a href="{% url 'news:news_detail' news.slug %}" title="{{ news.news_title }}" class="news_list_t">{{ news.news_title }}</a>
                    <div class="day"><i class="fa fa fa-clock-o"></i>{{ news.created_at|date:"SHORT_DATE_FORMAT" }}</div>
                    <p>{{ news.news_title }} {{ news.images.first.body_text|truncatechars:134 }}</p>
                    <a class="more1" href="{% url 'news:news_detail' news.slug %}" title="{{ news.news_title }}">Read More</a>
                </div>
            </li>
            {% endfor %}
                                                </ul>
                                                <div class="page_num">
                                                    {% if page_obj.has_previous %}
                                                                        <a href="?page=1">&laquo;first page</a>    
                                                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                    {% endif %}
                                                                        <span>{{ page_obj.number }}</span>
                                                   {% if page_obj.has_next %}                                     
                                                <a href="?page={{ page_obj.next_page_number }}" class="pages">&gt;&gt;</a>
                                              
                                                         <a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a>
                                                    {% endif %}
                                                                        <p>A total of <span>{{ page_obj.paginator.num_pages }}</span> pages</p>
                                                </div>
    </div>
            </div>
</div>
</div>
{% endblock content %}